/*-------Body-------*/

html, body {
    font-family: Roboto, Arial, sans-serif;
    color: #A6A8AE;
    font-size: 14px;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    background: url(../img/building.jpg) no-repeat center center fixed;
    background-size: cover;
    min-height: 100%;
    margin: 0;
    display: block;

}

.heading-h2 {
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    color: #5d5d5d;
    z-index: -1;
}

.heading-h2::after {
    display: inline-block;
    margin: 0 0 8px 20px;
    height: 1px;
    content: " ";
    text-shadow: none;
    background-color: #fdb020;
    width: 100%;
    position: absolute;
    top: 50%;
    z-index: -1;
}

.header-background {
    background-color: rgba(13, 16, 33, 0.5);
    min-height: 100vh;

}

.header-div {
    padding-left: 12%;
}

header img {
    padding-top: 235px;

}

header h1 {
    color: white;
    font-size: 64px;
    text-transform: uppercase;
    margin-bottom: 0;

}

header p {
    padding-top: 10px;
    color: #fdb020;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 3.5px;
    position: relative;

}

/*-------Navigation Bar-------*/

nav {
    position: fixed;
    width: 100%;
    text-align: center;
    border-top: 1px solid #fdb020;
    text-transform: uppercase;
    background-color: rgba(17, 25, 50, 0.7);
    bottom: 0;
    z-index: 10;
    padding: 8px;
}

nav ul li:hover a {
    color: #fdb020;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

ul {
    list-style-type: none;
    margin: 0;
}

nav ul li {
    padding: 10px;
    display: inline-block;

}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;

}

/*--------------*/

main article {
    display: block;
    min-height: 100%;
    padding-left: 12%;
    padding-right: 12%;
}

section:hover {
    color: #484848;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

h3, span {
    color: #5d5d5d;
}

.section-personal-info {
    overflow: hidden;
    display: block;
    height: 100%;

}

.personal-inf {
    padding-top: 40px;
    display: block;
    float: left;
    width: 47%;
    position: relative;
    height: 100%;

}

.mailto {
    text-decoration: none;
    color: #A6A8AE;
}

.personal-inf:hover .mailto {
    color: #fdb020;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.personal-inf h2, ul {

    padding-left: 0;
}

.personal-inf ul li {
    border-bottom: 1px solid #a6a8ae;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    text-align: left;
}

.personal-inf ul li span {
    font-weight: bold;
}

.personal-inf ul li :last-child {
    border-bottom: none;
}

.personal-prof {
    padding-top: 40px;
    display: block;
    float: right;
    width: 47%;

}

p {
    line-height: 1.8;
    text-align: justify;
    margin: 0;
}

.section-border-top {
    padding-top: 20px;
    border-top: 1px solid #a6a8ae;
    margin-left: 12%;
    overflow: hidden;
}

.firs-grid {
    margin-left: 12%;
    overflow: hidden;
    padding-bottom: 20px;
}

.references-h4 {
    padding-left: 0;
    margin-top: 0;
    font-weight: normal;
}

main article section h3 {
    display: block;
    float: left;
    width: 40%;
    position: absolute;
    margin-top: 0;
    padding-top: 20px;
}

main article section h4 {
    display: block;
    padding-top: 60px;
    padding-left: 20px;
}

.work-adjust-fulltime {
    margin-left: 0;
    padding-left: 0;
    padding-top: 60px;
    display: block;
    font-size: 14px;
    float: left;

}

.section-education {
    height: 100%;
    padding-top: 40px;
}

.years {
    color: #ffffff;
    display: block;
    float: right;
    width: 130px;
    height: 40px;
    background: #fed689;
    text-align: center;
    border-radius: 4px;
    margin-top: 0;
    padding-top: 20px;

}

section:hover .years {
    background: #fdb020;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.section-class {
    padding-top: 40px;
}

.education-p {
    display: block;
    padding-top: 100px;
    position: relative;
}

.section-work {
    padding-top: 40px;
}

.work-p {
    padding-top: 100px;
    position: relative;
    padding-bottom: 40px;
}

.technical-skills {
    padding-top: 40px;
}

.technical-skills ul li {
    text-align: center;
    display: inline-block;
    color: #000000;
    font-weight: bold;
    max-width: 20%;
    padding-left: 3%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.technical-skills ul li p {
    text-align: center;
    padding-top: 0;
    font-size: 12px;
    color: #A6A8AE;

}

.svg {

    display: inline-block;
    width: 30%;
}

.perc {
    font-size: 24px;
    text-anchor: middle;
    fill: #000000;
}

footer {
    display: block;
    min-height: 100%;
    background: url("../img/footer-back.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ffffff;

}

.footer-h2 {
    color: #ffffff;
    z-index: 2;
}

.footer-h2:after {
    display: inline-block;
    margin: 0 0 8px 20px;
    height: 1px;
    content: " ";
    text-shadow: none;
    background-color: #fdb020;
    width: 80%;

}

.footer-p {
    padding-top: 60px;
}

footer > div {
    background-color: rgba(26, 39, 88, 0.5);
    padding: 40px 12% 0;
    height: 100vh;
}

input:focus {
    color: #ffffff;
}

textarea:focus {
    color: white;
}

.footer-left-div {
    float: left;
    width: 60%;
}

.footer-right-div {
    padding-top: 60px;
    float: right;
    width: 30%;
}

::-webkit-input-placeholder {
    color: #dbdbdb;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #dbdbdb;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #dbdbdb;
}

:-ms-input-placeholder {
    color: #dbdbdb;
}

.footer-1st-input {
    display: block;
    background: 0, 0, 0, 0;
    border-bottom: 1px solid #fdb020;
    border-left: none;
    border-top: none;
    border-right: none;
    padding: 60px 20px 20px 20px;
    width: 100%;
    outline: none;
    color: #ffffff;
}

.footer-grid {
    display: block;
    background: 0, 0, 0, 0;
    border-bottom: 1px solid #fdb020;
    border-left: none;
    border-top: none;
    border-right: none;
    padding: 20px;
    width: 100%;
    outline: none;
    color: #ffffff;
}

.footer-textarea {
    display: block;
    background: 0, 0, 0, 0;
    border-bottom: 1px solid #fdb020;
    border-left: none;
    border-top: none;
    border-right: none;
    padding: 15px;
    width: 100%;
    height: 180px;
    outline: none;
    color: #ffffff;
}

.footer-submit {
    margin-top: 40px;
    border: none;
    background: #fdb020;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 4px;

}

.footer-submit:hover {
    background: #000000;
    border-radius: 4px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.mailto-footer {
    text-decoration: none;
    color: #dbdbdb;
}

.address {
    position: relative;

}

.address:hover #mail {
    color: #fdb020;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.address li {
    padding: 8px;
}

.icon li {
    display: inline;
}

.google:hover {
    fill: #D62223;
}

.skype:hover {
    fill: #00AFF0;
}

.linkedIn:hover {
    fill: #0077B5
}

.github:hover {
    fill: #612980;
}

.totop {
    padding: 6px;
    text-decoration: none;
    background: #fdb020;
    color: #ffffff;
    border-radius: 4px;
    left: 160px;
    bottom: -330px;
    position: absolute;
    z-index: 3;
}

.totop:hover {
    background: #000000;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.nav-div-totop {
    position: relative;
}

.nav-div-totop :hover {
    fill: #fdb020;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;

}